.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5em 2em ;
}

.email {
    width: 20rem;
    height: 3em;
    margin-top: 2em;
    padding: 1em;
    color: #ACB8D9;
}

.email:focus, .email:hover{
    border: 1px solid black;
}

.password:focus, .password:hover{
    border: 1px solid black;
}

.password {
    width: 20rem;
    height: 3em;
    margin-top: 2em;
    padding: 1em;
    color: #ACB8D9;
}

.sign-in-btn {
    cursor: pointer;
    width: 20rem;
    height: 3em;
    margin-top: 2em;
    color: whitesmoke;
    border-radius: 3px;
    border: none;
    background: rgb(57, 72, 81);
    background: -moz-linear-gradient(90deg, rgba(57, 72, 81, 1) 0%, rgba(64, 83, 92, 1) 29%, rgba(74, 99, 109, 1) 53%, rgba(82, 106, 118, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(57, 72, 81, 1) 0%, rgba(64, 83, 92, 1) 29%, rgba(74, 99, 109, 1) 53%, rgba(82, 106, 118, 1) 100%);
    background: linear-gradient(90deg, rgba(57, 72, 81, 1) 0%, rgba(64, 83, 92, 1) 29%, rgba(74, 99, 109, 1) 53%, rgba(82, 106, 118, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#394851", endColorstr="#526a76", GradientType=1);
}

.form-div form input {
    border: 1px solid #CED9DC;
    border-radius: 3px;
}

.others{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
}

.others a, a:hover, a:visited, a:active{
    text-decoration: none;
    color: #556E7B;
    font-size: 0.9rem;
}

.sign-in-with p{
    color: #b0b5b8;
    font-size: 0.9em;
}

.social-media-icons{
    display: flex;
    justify-content: space-around;
}

.social-media-icons a{
    /* background-color: #b0b5b8; */
    color: #b0b5b8;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.para{
    color: #b0b5b8;
    font-size: .9rem;
    text-align: center;
}
.para a{
    color: #b0b5b8;
    font-size: .9rem;
    text-decoration: underline;
}