
.heading{
    position: absolute;
    margin-left: 40%;
    margin-top: 7%;
    font-family: 'GoogleSansDisplay';
    font-size: 200%;
    font-weight: 900;
    color: rgb(77, 75, 75);
}
.Logo{
    height: 3%;
    top: 3%;
    left: 1%;
    position: absolute;
} 
.bg{
    width: 26vw;
    height: 100vh;
    border-radius: 0px 35px 35px 0px;
}

.Kid{
    position: absolute;
    bottom: 26%;
    left: 1%;
    width: 30%;
}


