
.heading{
    position: absolute;
    margin-left: 40%;
    margin-top: 7%;
    font-family: 'GoogleSansDisplay';
    font-size: 200%;
    font-weight: 900;
    color: rgb(77, 75, 75);
}
.Logo{
    height: 3%;
    top: 3%;
    left: 1%;
    position: absolute;
} 
.bg{
    width: 26vw;
    height: 100vh;
    border-radius: 0px 35px 35px 0px;
}

.Kid{
    position: absolute;
    bottom: 15%;
    left: 5%;
    width: 35%;
}

.whole{
    position: absolute;
    margin-top: 12%;
    margin-left: 40%;
    font-family: 'GoogleSansDisplay';
    font-weight: normal;
    font-size: smaller;
    color:  rgb(77, 75, 75);
}

.form{
    width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block; 
  border: 1px solid  rgb(77, 75, 75);
  border-radius: 4px;
  box-sizing: border-box;
}

.form2{
    width: 45%;
    margin: 8px 15px 5px 0px;
}

.form3{
    position: absolute;
    top: 0.05ex;
    z-index: 1;
    left: 0.5em;
    background-color: white;
    padding: 0 5px;
}

.form4{
    left: 16.9em;
}

.form5{
    top: 11.7ex;    
}

.form6{
    top: 24ex;
}

.form7{
    top: 36.5ex;
}

.Submit{
    background-color: #81C784;
  border-radius: 10px;
  border-color: #81C784;
  width: 27.5vw;
  color: black;
  padding: 16px 32px;
  margin: 15px 0px;
  cursor: pointer;
  position: absolute;
  font-family: 'GoogleSansDisplay';
  font-weight: bold;
  font-size: larger;
}

.Login{
    position: absolute;
    margin: 8px 0;
    margin-top: 36%;
    margin-left: 40%;
    font-family: 'GoogleSansDisplay';
    font-weight: normal;
}

a{
    color: rgb(129, 199, 132);
}

.Or{
    position: absolute;
    left: 50%;
}

@media screen and (max-width: 1024px) {
    .whole{
        margin-top: 10%;
        height: 4%;
    }
    .Login{
        margin-top: 45%;
    }
    .Or{
        width: 70vw;
    }
    .bg{
        height: 125vh;
        width: 29%;
    }
    .Kid{
        width: 40%;
        bottom: 0%;
    }
    .heading{
        margin-top: 4%;
    }
}

@media screen and (max-width: 768px) {
    .Login{
        margin-top: 58%;
        margin-left: 50%;
    }
    .bg{
        width: 43vw;
        height: 110vh;
    }
    .whole{
        margin-left: 50%;
    }
    .heading{
        margin-left: 50%;
    }
    .Kid{
        width: 55vw;
        margin-top: 40%;
    }

}


